.boxContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-left: 12%;
    padding-right: 12%;

}
.box{
    height: auto;
    width: 45%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
    margin-right: 20px;
}
.paraghraph{
    width: 50%;
    text-align: justify;
    
}
.title{
    padding-left: 13%;
    font-weight: bold;
    font-size: 20px;
}
.links {
    padding-left: 13%;
    color: red;
    padding-bottom: 50px;
}
.red{
    color: red;
    font-weight: bold;
}
.button{
    background-color: darkred;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px;
}
.button1{
    background-color: darkred;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px;
    width: 400px;
    font-size: 13px;
}
.button2{
    background-color: darkred;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
    color: white;
    float: right;
    margin-right: 50px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.p1{
    padding-left: 13%;
    font-size: 13px;
}
.form{
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 20px;
}
.formBg{
    background-color: lightgray;
}
.textBox{
    width: 300px;
}
.spanText{
    padding-left: 0px;
   
}
.formText{
    margin-left: 7px;
}
.cards{
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 760px){
    .box{
        width: 40%;
    }
    .p1{
        width: 40%;
    }
}
@media screen and (max-width: 600px){
    .box{
        width: 90%;
    }
    .p1{
        width: 90%;
    }
}