.container {
    display: flex;
    background-color: darkgray;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.liclass {
    display: inline;
    font-weight: bold;
    padding: 10px;
}
.links{
    text-decoration: none;
    color: black;
}
.link:hover {
    color: red;
}
.ulLeft{
    margin-left: 200px;
}
.ulRight{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 160px;
}
.login{
  
    text-decoration: none;
    display: inline;
    font-weight: bold;
}
.icon {
    color:red ;
    text-decoration: none;
    display: inline;
    padding: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 760px){
    .container{
        display: none;
    }
   
}
@media screen and (max-width: 600px){
   .container{
       display: none;
   }
}